.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.link {
    font-size: 1.1em;
    color: #0fb7d5;
}

.main {
    display: flex;
    justify-content: center;
}

.posts {
    min-width: 60%;
    min-height: 50vh;
    padding: 2%;
    border-radius: 0.5vw;
    background-color: #0f1c31;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.post {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0 0.5vw;
}

.topic {
    grid-area: 2 / 2 / 2 / 2;
}

/* X-Small devices (portrait phones, less than 600px) */
@media only screen and (max-width: 600px) {
    .posts {
        gap: 7.5vh;
    }

    .post {
        gap: 0 1.5vw;
    }

    .container {
        margin-bottom: 15%;
    }
}

/* Medium devices (tablets, less than 1025) */
@media only screen and (min-width: 700px) and (max-width: 1024px) and (min-height: 700px){
    .posts {
        width: 90%;
    }

    .link {
        font-size: 1.5em;
    }
}

/* 2K */
@media screen and (min-width: 2560px) and (max-width: 3839px) {
    .title {
        font-size: 7em;
    }

    .post_title {
        font-size: 2.5em;
    }
 
    .topic, .date, .link {
        font-size: 2em
    }
}