.home {
    min-height: 80vh;
    background: linear-gradient(to top left, #120b1d 0%, #0c0719 100%);
    padding: 10% 5% 0 5%;
}

.presentation {
    word-spacing: 0.1em;
    color: white;
    letter-spacing: -0.025em;
    width: 40vw;
    font-size: 7.5em;
    white-space: nowrap;
}

.typewriter {
    display: flex;
    align-items: center;
}

.cursor {
    width: 2px;
    height: calc(var(--title_size) / 3);
    background-color: white;
    display: inline-block;
    margin-left: 2.5%;
}

.span {
    color: #0ea5e9;
}

/* X-Small devices (portrait phones, less than 600px) */
@media only screen and (max-width: 600px) {
    .home {
        height: 100vh;
        padding: 20% 1.5% 0 1.5%;
    }

    .presentation {
        width: 95vw;
        white-space: wrap;
        font-size: 4.5em;
    }

    .typewriter {
        display: contents;
    }

    .cursor {
        height: 10vw;
    }
}

/* Medium devices (tablets, less than 1025) */
@media only screen and (min-width: 700px) and (max-width: 1024px) and (min-height: 700px){
    .home {
        padding: 20% 0 0 5%;
    }

    .presentation {
        font-size: 5em;
    }
}

/* 2K */
@media screen and (min-width: 2560px) and (max-width: 3839px) {
    .presentation {
        font-size: 15em;
    }
}