@keyframes borderRotate {
    0% {
      border-image-source: radial-gradient(circle, #1e304e, #2e4a6a, #4a6e8f, #8aacc9);
    }
    25% {
      border-image-source: radial-gradient(circle, #2e4a6a, #4a6e8f, #8aacc9, #1e304e);
    }
    50% {
      border-image-source: radial-gradient(circle, #4a6e8f, #8aacc9, #1e304e, #2e4a6a);
    }
    75% {
      border-image-source: radial-gradient(circle, #8aacc9, #1e304e, #2e4a6a, #4a6e8f);
    }
    100% {
      border-image-source: radial-gradient(circle, #1e304e, #2e4a6a, #4a6e8f, #8aacc9);
    }
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.project {
    min-height: 45vh;
    padding: 7.5% 0 5% 5%;
    display: flex;
    flex-direction: column;
    gap: 5vw;
    background-size: cover;
    background-position: center;
    border-top: 3px solid rgb(179, 175, 175);
    border-bottom: 3px solid rgb(179, 175, 175);
    position: relative;
    border-image-slice: 1;
    animation: borderRotate 5s infinite linear;
}

.project::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.info {
    position: relative;
    z-index: 2;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.description {
    width: 65%;
    line-height: 2.5;
}

.list {
    padding: 0;
    display: flex;
    gap: 3vw;
    list-style: none;
}

/* X-Small devices (portrait phones, less than 600px) */
@media only screen and (max-width: 600px) {
    .project {
        padding-left: 0;
        align-items: center;
    }

    .project::before {
        background: rgba(0, 0, 0, 0.75);
    }

    .info {
        align-items: center;
    }

    .title {
        font-size: 3.55em;
    }

    .description {
        width: 90%;
        font-size: 1.1em;
        line-height: 2.5;
    }

    .list {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* Medium devices (tablets, less than 1025) */
@media only screen and (min-width: 700px) and (max-width: 1024px) and (min-height: 700px){
    .project {
        padding-bottom: 5%;
    }

    .project::before {
        background: rgba(0, 0, 0, 0.75);
    }

    .title {
        font-size: 4em;
    }

    .description {
        width: 90%;
        line-height: 3;
        font-size: 1.35em;
        margin-bottom: 5%;
    }

    .list {
        font-size: 1.2em;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* 2K */
@media screen and (min-width: 2560px) and (max-width: 3839px) {
    .title {
        font-size: 5.5em;
    }

    .description, .list {
        font-size: 2em;
    }
}