@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

/* Markdown */
.h1 {
    font-size: 3.5em;
    margin-bottom: 2%;
}

.h2 {
    font-size: 2em;
    margin: 5% 0 1% 0;
}

.h3 {
    font-size: 1.5em;
    margin: 5% 0 1% 0;
}

.p {
    font: 300 .9em "Epilogue";
    line-height: 4vh;
    margin-left: 3%;
}

.pre::-webkit-scrollbar {
    background-color: #DED7E6;
    height: 10px;
}

.pre::-webkit-scrollbar-thumb {
    background: #9684A3;
    border-top-right-radius: 10px;
}

.pre {
    background: #eee;
    border-left: 10px solid #9684A3;
    border-radius: 10px;
    padding: 10px;
    letter-spacing: .5px;
    font-size: 10pt;
    color: #000;
    margin-left: 3%;
    overflow: auto;
}

.ol {
    list-style-type: none;
}

.li {
    margin-top: 2.5%;
    font-size: 1em;
}

/* X-Small devices (portrait phones, less than 600px) */
@media only screen and (max-width: 600px) {
    .content {
        width: 90%;
        margin-top: 7.5%;
    }

    .p {
        margin: 0 0 10% 3%;
    }

    .staticLink {
        color: #0fb7d5;
        padding: 2% 5%;
    }
}

/* Medium devices (tablets, less than 1025) */
@media only screen and (min-width: 700px) and (max-width: 1024px) and (min-height: 700px){
    .link {
        font-size: 1.5em;
    }

    .content {
        width: 90%;
        margin-top: 5%;
    }

    .p {
        font-size: 1.25em;
        line-height: 4vh;
    }

    .h2 {
        margin-top: 5%;
    }

    .pre {
        font-size: 1.5em;
        line-height: 3vh;
    }
}

/* 2K */
@media screen and (min-width: 2560px) and (max-width: 3839px) {
    .link {
        font-size: 2.5em;
    }

    .h1 {
        font-size: 5em;
    }

    .h2 {
        font-size: 4em;
    }

    .h3 {
        font-size: 3em;
    }
    
    .p {
        font-size: 1.75em;
    }

    .pre {
        font-size: 2em;
    }
}