.about-me-section {
    float: left;
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 3%;
}

#about-me-ID {
    margin-top: 51.5%;
    z-index: -1;
    position: absolute;
}

.background-hr {
    float: right;
    box-shadow: 0px 0px 13px 2px rgba(45, 255, 196, 0.9);
    width: 3vw;
    margin: 0;
    margin-top: 5%;
    margin-right: 2%;
}

.background-section-title {
    height: auto;
    margin: 0;
    margin: 5% 63.5% -5.1%;
    font-size: 5vw;
}

.about-me-story {
    width: 45vw;
    float: right;
    margin: 12.5% 1% 0 0;
    line-height: 2;
}

/* Skill section*/
.tech-stack {
    float: left;
    width: auto;
    margin: 9.5% 0 13% 5%;
}

.tech-stack p {
    width: 20vw;
    margin: 12.5% 22% 15% 0;
    font-size: 3.5vw;
}

.tech-stack-grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 7vw 7vw 7vw 7vw;
    grid-template-rows: auto auto auto;
    gap: 3vw 4vw;
    margin-top: 2vh;
}

.tech-stack-grid img {
    transition: transform 0.3s ease-in-out;
    width: 3.5vw;
}

.tech-stack-grid img:hover {
    transform: scale(1.3);
}

.tech-icon {
    width: 4vw;
    margin: auto;
}