header {
    background-color: var(--divs);
    width: 100%;
    height: 10vh;
    z-index: 105;
    position: fixed;
    box-shadow: 0px 0px 15px 3px rgba(255, 0, 0, 0.77);
    font-size: 1.25vw !important;
    font-weight: 700;
}

.my-name-header {
    float: left;
    width: 20vw;
    margin-left: 2%;
    color: #00995e;
}

header img {
    width: 4vw;
    float: left;
    margin-top: -2.5%;
}

.my-name-header p {
    font-size: 2vw;
    margin-left: 5%;
    margin-top: 1%;
    float: left;
}

#link-wrapper {
    height: 100%;
}

#link-wrapper div{
    margin-top: 1%;
}

.home {
    margin-left: 25%;
    letter-spacing: 2px;
}

.about-me {
    margin-left: 5%;
    letter-spacing: 2px;
}

.projects-nav-bar {
    margin-left: 6%;
    letter-spacing: 2px;
}

.nav-bar-divs {
    width: 10%;
    height: 5vh;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-bar-divs::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: rgb(224, 194, 194);
    transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
}

.home:hover::after,
.projects-nav-bar:hover::after,
.about-me:hover::after {
    width: 100%;
    left: 0;
}

.home:active,
.projects-nav-bar:active,
.about-me:active {
    transform: scale(0.95);
}
