/* XX-Small Devices (max-width: 362px) */
@media only screen and (max-width: 362px) {
    header {
        height: 7.5vh;
    }

    .presentation h1 {
        height: 20vh;
    }

    .first-background {
        height: 60vh;
    }
}

/* X-Small devices (portrait phones, less than 600px) */
@media only screen and (max-width: 600px) {

    body, html {
        max-width: 100%;
    }

    p {
        margin: 0;
        font-size: calc(0.1rem + 3vw);
    }

    header {
        height: 8vh;
        justify-content: space-evenly;
        background-color: rgb(12, 7, 24)
    }

    #logo-a {
        display: none;
    }

    .home, .about-me, .projects-nav-bar {
        width: 27vw;
        margin-left: 0;
    }

    aside {
        visibility: hidden;
        width: 0;
    }

    aside img {
        width: 6vw;
    }

    .presentation {
        width: 90vw;
        height: 100vh;
        margin-left: 3%;
        margin-top: 20%;
    }

    .presentation h1 {
        font-size: 10vw;
        margin-top: 5%;
    }

    .presentation li {
        font-size: 4vw;
    }

    .presentation li img {
        width: 4vw;
    }

    #presentation-description {
        width: 100%;
        font-size: 4vw;
    }

    .base-button {
        width: 25vw;
        height: 5vh;
        margin-left: 0;
    }

    .base-button p {
        font-size: 3vw;
    }

    .about-me-redirect p, .resume p {
        font-size: 3.5vw;
    }

    .history {
        width: 95%;
        border-left: 0;
        font-size: 4vw;
    }

    .projects-section {
        padding-top: 25%;
    }

    .project {
        padding-top: 3vw;
        padding-left: 2%;
    }

    .project-text {
        font-size: 6vw;
        width: 80vw;
    }

    .project-text span {
        font-size: 4.5vw;
    }

    .tech-project {
        gap: 2vw;
        margin-top: 5%;
    }

    .tech-project li {
        font-size: 4vw;
    }

    .test {
        display: none;
    }

    .test img {
        width: 8vw;
    }

    .first-background {
        height: 100vh;
    }

    .section-header-title {
        font-size: 10vw;
    }

    .skill-grid {
        width: 80%;
        gap: 2vh;
    }

    .skill-grid img {
        width: 6vw;
    }

    .skill-grid p {
        font-size: 7vw;
    }

    .row img {
        width: 8vw;
    }

    .about-me-section {
        margin-bottom: 30%;
        flex-direction: column-reverse;
    }

    .row {
        margin-top: 5%;
        display: flex;
        flex-wrap: wrap;
        gap: 4vh 8vw;
    }

    footer {
        height: 100vh;
        align-items: center;
        font-size: 2.5vw;
    }

    footer form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer input, footer textarea {
        width: 60vw;
    }

    footer img {
        width: 7vw;
    }
}

/* Medium devices (tablets, less than 1024px) */
@media only screen and (min-width: 700px) and (max-width: 1024px) and (min-height: 600px) {
    header {
        height: 9vw;
        justify-content: space-around;
    }
    
    #logo-a {
        display: none;
    }

    header p {
        font-size: 4vw;
    }

    .home {
        margin-left: 5%;
    }

    .nav-bar-divs {
        width: 25vw;
    }

    h1 {
        font-size: 9vw;
    }

    .presentation li {
        font-size: 3vw;
    }

    .presentation li img {
        width: 4vw;
    }

    #presentation-description {
        font-size: 4.5vw;
        width: 100%;
    }

    .about-me-redirect p, .resume p {
        font-size: 2vw;
    }

    aside {
        visibility: hidden;
    }

    .about-me-section {
        flex-direction: column-reverse;
    }

    .section-header-title {
        font-size: 8vw;
    }

    .history {
        width: 100%;
        font-size: 3vw;
    }

    .skill-grid img {
        width: 6vw;
    }

    .project {
        padding-left: 5vw;
    }

    .project-text {
        width: 100%;
    }

    .project-text span {
        font-size: 2.5vw;
    }

    .tech-project {
        gap: 6vw;
    }

    .tech-project li {
        font-size: 2vw;
    }

    footer {
        height: 95vh;
        margin-top: 20%;
    }
}