.blog {
    min-width: 15vw;
    width: fit-content;
    height: 15vh;
    border-left: 5px solid #2b4106;
    padding-left: 2%;
    margin-left: 2%;
}

.link {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

/* X-Small devices (portrait phones, less than 600px) */
@media only screen and (max-width: 600px) {
    .blog {
        height: 10vh;
    }

    .title {
        font-size: 5vw;
    }

    .description {
        font-size: 4vw;
    }
}

/* Medium devices (tablets, less than 1025) */
@media only screen and (min-width: 700px) and (max-width: 1024px) and (min-height: 700px){
    .blog {
        min-height: 15vh;
    }

    .title {
        font-size: 4.5vw;
    }

    .description {
        font-size: 4vw;
    } 
}