@import "tailwindcss";

@theme {
	--animate-border-rotate: borderRotate 5s linear infinite;

	@keyframes borderRotate {
		0% {
			border-image-source: radial-gradient(circle, #1e304e, #2e4a6a, #4a6e8f, #8aacc9);
		}
		25% {
			border-image-source: radial-gradient(circle, #2e4a6a, #4a6e8f, #8aacc9, #1e304e);
		}
		50% {
			border-image-source: radial-gradient(circle, #4a6e8f, #8aacc9, #1e304e, #2e4a6a);
		}
		75% {
			border-image-source: radial-gradient(circle, #8aacc9, #1e304e, #2e4a6a, #4a6e8f);
		}
		100% {
			border-image-source: radial-gradient(circle, #1e304e, #2e4a6a, #4a6e8f, #8aacc9);
		}
	}
}

@layer utilities {
	.after-transition-left {
		@apply after:transition-[width,left] after:duration-500 after:ease-in-out;
	}

	.border-image-slice-1 {
		border-image-slice: 1;
	}

	.background-gradient {
		background-image: linear-gradient(
			45deg,
			#120b1d 0%,
			#0c0719 25%,
			#2c1e40 50%,
			#0c0719 75%,
			#120b1d 100%
		);
	}

	.grid-overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image:
			linear-gradient(to right, hsl(0 0% 50%) 1px, transparent 1px),
			linear-gradient(to bottom, hsl(0 0% 50%) 1px, transparent 1px);
		background-size: 40px 40px;
		opacity: 0.1;
		z-index: -1;
		pointer-events: none;
		-webkit-mask-image: radial-gradient(ellipse 80% 50% at 50% 50%, #000 10%, transparent 110%);
		mask-image: radial-gradient(ellipse 80% 50% at 50% 50%, #000 10%, transparent 110%);
	}

	@keyframes gradient {
		0% {
			background-position: 15% 50%;
		}
		35% {
			background-position: 75% 50%;
		}
		100% {
			background-position: 15% 50%;
		}
	}
}

/* general decoration*/
::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #a8bbbf;
}
